<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/weather-forcost.png">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
  <div class="main-content" align='center' >
   {{>header}}
   
<div >
     <img src="./images/IMG_20200418_200057.jpg" alt="" class="portrate">
      <p> Hey I am Tanmay A Singewar </p>
      <p>Instagram : tanmaysingewar</p>
      <p>Email : singewartanmay@gmail.com</p>
      </div>
     </div>
    
     {{>footer}}
</body>

</html>