<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/weather-forcost.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <form>
        <input type="text" name="search" placeholder="Search City">
       <button>Search</button>
        </form>
        <p id="massage2"></p>
        <p id="massage1"></p>
        <p id="massage3"></p>
        <p id="massage4"></p>
        <p id="massage5"></p>
        <p id="massage6"></p>
    </div>
   {{>footer}}
</body>
 <script src="/js/index.js"></script>
</html>

